
/* 网格容器样式 */
#etchDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    border: 1px solid #333;
    -webkit-user-select: none;
    user-select: none;
}

.row {
    display: flex;
    flex-grow: 1;
}

/* 像素格子样式 */
.pixel {
    flex-grow: 1;
    background-color: transparent;
    border: 1px solid #eee;
}

.drawn {
    background-color: black;
}

